* {
    margin: 0;
    padding: 0
}

body {
    background-image: url("https://images.unsplash.com/photo-1724787936231-68dbe6683adc?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 0px 10px 0px;
}

a {
    color: white;
    margin-right: 200px;
    text-decoration: none;
}

#logo {
    font-size: 25px;
    color: #f08804;
}

#content {
    height: 1500px;
}

button {
    background-color: #f08804;
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    align-items: center;
}